@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.header
{
    position: fixed;
    display: flex;
    height: 10%;
    top: 0;

    /* 배치 위치 */
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: 'Nanum Myeongjo', serif;
    /* 배치순서 정하기: 1이 젤 앞에 나온다 */
    z-index: 1;
    background-color: rgba( 255, 255, 255, 0.5 );
}

.text_title
{
    /* position: absolute; */
    font-family: 'Nanum Myeongjo', serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    height: 200px;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 4em;

    font-family: 'Nanum Myeongjo', serif;


}

.place_div
{
    position: flex;
    top: 600px;
    height: 600px;
    bottom: 300px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block; 

}
.left
{
    font-family: 'Nanum Myeongjo', serif;
    width: 40%;
    float: left;
    align-items: center;
    display: block;
    position: relative;
} 
.right
{
    position: relative;
    width: 40%;
    float: right;
    align-items: center;
    display: block;
}
.bottom
{
    margin-block-start: 114em;
    position: absolute;
    top: 100%;
    height: 2100px;
    width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
  }

